[submodule "clsocket"]
	path = clsocket
	url = https://github.com/procitec/clsocket.git
[submodule "tomlplusplus"]
	path = tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "librtlsdr"]
	path = librtlsdr
	url = https://github.com/librtlsdr/librtlsdr.git
